body {
    background-image: url('../img/small_steps.png');
    padding: 72px 65px 65px 65px;
}
.container.ng-scope {
    width: 950px;
}
.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}
footer {
    margin: 5px 0;
    font-weight: bold;
}
/* Logo */
.brand {
    font-family: Futura, Helvetica, Arial, sans-serif;
}
.container .brandName {
    color: white;
    font-family: 'plane crash';
    font-size: 37px;
    height: 45px;
    line-height: 60px;
    margin-left: 70px;
    opacity: 0.8;
    padding-top: 23px 0 17px 0;
    text-shadow: 7px 6px 6px black;
}
#logoIcon {
    width: 60px;
    margin: 0 17px;
    display: none;
}
.gameSection {
    color: white;
    font-size: 19px;
    margin: 43px 0 10px 48px;
    text-shadow: 1px 1px 4px black;
    text-transform: uppercase;
}
/* Bootstrap overrides */
.span3 {
    width: 15%;
    color: #fff;
}
.navbar-inner {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ffa600;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    opacity: 0.85;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/noisebg.png");
    background-repeat: none !important;
}
.navbar .nav {
    margin-left:50px;
    margin-top:15px;
}
.close {
    opacity: 1.0;
}
.thumbGame {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    width: 200px;
}
.gameTitle {
    margin: 7px 0 0;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    font-weight: bold;
 }

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #cbcbcb;
    box-shadow: 9px 12px 20px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    width: 90%;
}
table.table {
    width: 90%;
    background-color: #fff;
    border-radius: 12px;
}
thead {
}
tr:hover {
    background-color: #EDEDED;
}
thead tr:hover {
    background-color: transparent;
}
th:hover {
    cursor: pointer;
}
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px dotted #e0e0e0;
}
.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
.table td {
    padding-bottom: 4px;
}
.table th {
    background-color: #EBEBEB;
    color: darkgoldenrod;
    font-size: 15px;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    padding: 0;
    text-transform: uppercase;
    font-family: futura;
}
.titleRow {
    color: rgba(197, 76, 128, 0.5);
    /*
    background-color: #E0E0E0;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    */
}
.intLink {
    /*background-color: #bcbaba;*/
    /*border: 1px solid grey;*/
    border-radius: 20px;
    color: #F2F2F2;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 185px;
    text-shadow: 1px 1px 2px darkslategray;

    background-color: #bcbaba;
    background-image: -moz-linear-gradient(center top , #bcbaba, #bcbaba);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.intLink:hover {
    background-color: #A57D36;
    background-image: none;
    text-decoration: none;
    color: #F2F2F2;
}
/* Footer */
footer .container {
    margin-left: 45px;
}
.span3 img {
    width: 30px;
}
.footerInfo {
    height: 40px;
    line-height: 40px;
    margin-left: 27px;
}
.footerInfo .span3 {
    margin-left: 5px;
    font-weight: bold;
    color: #424242;
}
.footerInfo .span3 a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
.footerInfo .span3 a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}