<div class="container">
    <h2 class="gameSection">Finished Games</h2>
    <table class="table" data-ng-controller="ChildController">
        <thead>
        <tr class="titleRow">
            <th data-ng-click="setOrder('name')">Game</th>
            <th data-ng-click="setOrder('gameType')">Gametype</th>
            <th data-ng-click="setOrder('startTime')">Start Time</th>
            <th data-ng-click="setOrder('scores')">Final Score</th>
        </tr>
        </thead>
        <tr data-ng-repeat="game in games | orderBy:orderby:reverse" ng-hide="!game.finished">
            <td><img class="thumbGame" ng-src="{{game.img}}"/><p class="gameTitle">{{ game.name }}</p></td>
            <td>{{ game.gameType }}</td>
            <td>{{ game.startTime }}</td>
            <td>{{ game.scores }}</td>
        </tr>
    </table>
</div>